.weather-card {
    padding: 0;
    background-color: var(--dark);
    margin: 0 1.5rem 1.5rem 1.5rem;
   
}
h3{
    background-color: var(--dark);
    color: white;
    padding: 1em;
    margin: 0;
}