@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
:root {
    --light: hsl(199, 86%, 31%);
    --dark: #023047;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-group{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0.5em;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}